*{
    margin: 0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
}
.abnMain{

    padding: 2rem 5rem;

}
.headerSection{
    background-color: #000000;
    color: white;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 48px;
    align-items: center;
}

nav>img{
    width: 101.67px;
height: 32.02px;


}

.midNav>ul{
    display: flex;
    list-style-type: none;
    gap:22px;
}

.midNav>ul>li{
    position: relative;
}

.midNav>ul>li::after{

    content: '';
    width:0%;
    height:2px;
    position: absolute;
    bottom:-6px;
    left:30%;
    background-color: white;
}

.midNav>ul>li.activeMidNavOption::after{

    width:30%;
}

.rightNav{
    display: flex;
    gap:10px;
    align-items: center;

}
.rightNav>img{

width: 24px;
height: 24px;

}

.user{

width: 88px;
height: 48px;
padding: 8px, 8px, 8px, 16px;
border-radius: 100px;
background:  #FFF;
display: flex;
align-items: center;
justify-content: space-evenly;

}

.search{
    height:64px;
    width:60%;
    margin: auto;
    border-radius: 1000px;
    background:  #FFF;
    display: flex;
    color: black;
    justify-content: space-between;
    padding: 8px 8px 8px 32px;
    align-items: center;
}

.search>div>p:first-child{
    font-size: 12px;
    font-weight: 700;
}
.search>div>input{
    color: rgba(107, 114, 128, 1);
    font-size: 14px;
    font-weight: 400;
    border: none;
    padding: 2px 1px;

}

.verticalLine{

    width:2px;
    height:32px;
    background-color: 
    rgba(229, 231, 235, 1);
}


.heroSection>img{
    object-fit: cover;
    height:100%;
    width:100%;
}
.nextTripSection>h2{
    font-size: 36px;
    font-weight: 500;
}

.nextTripCardSection{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3rem 0rem;
}

.nextTripCard{

    width: 302px;
height: 400px;
border-radius: 8px;
color: #FFF;

}

.nextTripCard>div:first-child{
    width: 302px;
height: 200px;
overflow: hidden;

}
.nextTripCard>div:nth-child(2){
    Padding: 24px 16px 96px 16px;


}

.nextTripCard>div>img{

    object-fit: cover;
    height:100%;
    width:100%;
    overflow: hidden;
}

.c1{
    background-color: #cc2d4a;
}
.c2{
    background-color: #bc1a6e;
}
.c3{
    background-color: #de3151;
}
.c4{
    background-color: #d93b30;
}

.nextTripCard>div>h2{
    font-weight: 500;
    font-size: 36px;
}
.nextTripCard>div>h4{

    font-weight: 400;
    font-size: 18px;
}

.experience>h2{
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 3rem;
}

.experienceCard{

   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
  
}
.experienceCard>img{

    width: 49%;
height: 49%;



}

.giftCard{
    display:flex;
    justify-content: space-between;
    

}

.left{
    flex:1;
}
.left>h1{
   font-weight: 500;font-size: 48px;
}
.left>button{
    margin-top: 2rem;
    display: flex;
padding: 16px 24px;
justify-content: center;
align-items: center;


    border-radius: 8px;
background: #000;
color: white;


box-shadow: 0px 1px 2px 0px rgba(31, 41, 55, 0.08);
}


.right{

    flex:2;
}

.question>img{
    width:100%;
    height:100%;
}

.futuregateway>h2{

    font-size: 24px;
    font-weight: 500;
    margin-bottom: 2rem;
}

.futureListItems>ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-weight: 500;
    color: #6B7280;
    margin-bottom: 2rem;
   

}
.futureListItems>ul>li{
    position: relative;
}

.futureListItems>ul>li::after{

    content: '';
    width:0%;
    height:3px;
    position: absolute;
    bottom:-6px;
    left:0;
    background-color: rgb(9, 9, 9);
    
}

.futureListItems>ul>li.activefuturelist{
    color:black;
}

.futureListItems>ul>li.activefuturelist::after{
    width:100%;

}
.futurelinkSection{
    display: flex;
    flex-direction: column;
    gap:30px;
}

.futurelink{
    display:flex;
    justify-content: space-between;
}
.futurelink>div>p{
    line-height: 19px;
}

.futurelink>div>p:first-child{
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

.futurelink>div>p:nth-child(2){
    font-size: 13px;
    font-weight: 400;
    color: rgba(107, 114, 128, 1);
}



.searchHeaderSection{
    background-color: #fff;
    color: rgb(9, 9, 9);
}

.searchNav>.search{
    height:48px;
    width:60%;
    border-radius: 1000px;
 border: 1px solid #E5E7EB;
background: var(--white, #FFF);
    box-shadow: 0px 4px 6px 0px rgba(31, 41, 55, 0.10), 0px 2px 4px 0px rgba(31, 41, 55, 0.06);
    
}
.searchNav>.rightNav>.user{
    border: 1px solid var(--gray-200, #E5E7EB);

}
.options{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
   
}
.options>button{
    border: 1px solid #E5E7EB;
    height:36px;
    width:fit-content;
    padding: 4px 14px;
    background-color: #FFF;
    border-radius: 15px;

}
.withIcons{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.searchedSection{
    display: flex;
    gap:1rem;

}
.searchedRoom{

    flex:1.3;
    
}

/* #searchedRoomPart{

    display: flex;
    gap:3rem;
} */

#map{
    
    flex:1;
    
    
    
    
    
}


.roomCard{
    display:flex;
    gap:.5rem;
    height:40vh;
    flex:1.3;
}



#roomCardImage{

    flex:0.7;
    
    
}
#roomCardImage>img{
    height:100%;
    width:100%;
    object-fit: cover;
    border-radius: 18px;
}

.roomCardInfo{
    flex:1;
    padding: 1rem 0;

}

.CardHeading{
    display:flex;
    justify-content: space-between;
    color: #6B7280;
    margin-bottom: 10px;
}

.roomCardInfo>h2{
    color:#2e323a
}

.anemities{
    margin: 1.5rem 0;
}
.anemities>ul{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    list-style-type: none;
    color:#6B7280
}

.horizontalLine{

    height:1px;
    background-color: #c1c5cd;
    width:10%;
    margin: 2rem 0;

}

#ratingSection{

    display:flex;
    justify-content: space-between;
    /* margin-top: 3.5rem; */
    align-items: center;
}

#leftRatingSection{

    display:flex;
    gap:8px;
    
}

.costButton,.closeModalButton,#locationButton{
    padding:3px 4px;
    height:2.5rem;
    width:auto;
    border:none;
    background-color: #de3151;
    font-size: 18px;
    font-weight: 300;
    border-radius: 3px;
}

.locationButton{
    text-align: right;
    margin-top: 10px;
}

#locationButton{
    width:140px;
}





.outerHorizontalLine{

    height:2px;
    background-color: #aeb5c3;
    width:100%;
    margin: 5rem 0;
}

/* modal styling */

.modalParent{
    position:fixed;
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background-color: rgba(0, 0, 0,.6);
    display: flex;
    align-items: center;
    justify-content: center;

}

.modalBody{

    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: space-between;
    background-color:white;
    height:200px;
    width:300px;
    padding:20px;
    border:solid 3px #bc1a6e;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    


}

.modalInfo{

    font-size: 18px;
    display: flex;
    flex-direction: column;
    gap:20px;
}




















footer{
    background-color: #f9fafb;
}

table{
    width:100%;
    text-align: left;
    line-height: 40px;margin-bottom: 1rem;

}

thead{
    font-size: 16px;
    font-weight: 500;
}
tbody{

    font-size: 14px;
    font-weight: 400;
    color:#4B5563;
}

.footerbottom{
    display: flex;
    justify-content: space-between;
    color: #4B5563;
    font-size: 14px;
}
.leftBottomFooter{

    display: flex;
    gap:8px
}

.leftBottomFooter>ul{
    display: flex;
    list-style-type: none; 
    gap:8px
}
.rightBottomFooter{

    display: flex;
    justify-content: space-between;
    gap:10px;
    
}

.hide{
    display:none;
}

.show{
    display:block; 
}

#rightSlide{
    width:50%;
    height:100vh;
    position: absolute;
    right:0;
    top:0;
    background-color: black;
    color:white;
    padding:20px ;
    
    
}

#rightSlide>ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap:10px;
    margin-bottom: 10px;
}

















@media screen and (max-width: 767px) {

    .search{
        
        height: auto;
        flex:flex;
       flex-direction: column;
        width:63vw;
        border-radius: 0%;
        align-items: flex-start;
    }
    
    #searchButton{
        align-self: flex-end;
    }

    #map{
        display: none;
    }

    .middleSearchPage{
        display: none;
    }

    .non-location{
        display:none;
    }

   
    .midNav{
        display: none;
    }

    .nextTripCardSection,.experienceCard{
        gap:10px;
        justify-content: center;
    }

    .experienceCard>img{
        width: 95%;
        height: 95%;

    }

    .giftCard{
        flex-direction: column;
        justify-content: center;
        gap:20px;
    }

    .right>img{
        height: 95%;
        width:95%;
    }

    .footerbottom{
        flex-direction: column;
      
        align-items: center;
        gap:10px;
    }

    .futureListItems>ul{
        font-size: 10px;
        gap:3px;
    }

    thead{
        font-size: 12px;
    }

    tbody{
        font-size: 12px;
    }

    


    








    
}















